<p>Starbucks Ticket Number {{starbucksTicketNumber}}</p>
<p>Store Number {{storeNumber}}</p>
<p>Description {{description}}</p>
<p>Machine {{machine}}</p>
<p>Ticket {{ticket}}</p>
<p>Status {{status}}</p>
<p>Notes {{notes}}</p>
<p>Billed {{billed}}</p>
<p>Closed {{closed}}</p>

<div>	
 	<button type="button" id ="closeTicket" class="btn btn-primary">Close Ticket</button>
 	<button type="button" id ="assignTech" class="btn btn-primary">Assign Tech (NTI)</button>
 	<button type="button" id ="addPart" class="btn btn-primary">Add Part (NYI)</button>
 	<button type="button" id ="addNote" class="btn btn-primary">Add Note (NYI)</button>
</div>


<script>
	$("#closeTicket").click(function() { 
		$.ajax({
			url: "/close_ticket/{{ticket}}", 
			type: "PUT",
			contentType: 'application/json',
			success: function(result) {
				window.location.href = '/ticket_view/{{ticket}}';
			}
		});
	});
</script>